**Задание 1**

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
	- оценка 2 и меньше - низкий рейтинг
	- оценка 4 и меньше - средний рейтинг
	- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [11]:
#чтение файла
rating_list = pd.read_csv('ratings.csv')
rating_list.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [15]:
#функция обозначения рейтинга фильма
def class_found(parametr):
    if parametr <=2:
        result =  ('низкий рейтинг')
    elif parametr <=4 and parametr > 2:
        result =  ('средний рейтинг')
    elif parametr >4:
        result = ('высокий рейтинг')    
    return result

In [26]:
#Применение функции к столбцу rating
rating_list['class'] = rating_list['rating'].apply(class_found)
rating_list.head()

   userId  movieId  rating  timestamp            class
0       1        1     4.0  964982703  средний рейтинг
1       1        3     4.0  964981247  средний рейтинг
2       1        6     4.0  964982224  средний рейтинг
3       1       47     5.0  964983815  высокий рейтинг
4       1       50     5.0  964982931  высокий рейтинг

**Задание 2**

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце 'region' пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим 'undefined'.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

Результат классификации запишите в отдельный столбец region.

In [162]:
geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

Комментарии:
1)в расчете не делала проверку на наличие заглавных букв и возможных окончаний городов (т.е.только полное совпадение по названию из geo_data).
2)Добавила лишний столбец- new_list - (не указанный в задании) для расчетов. Может, можно и без него. Не знаю.

In [397]:
#чтение файла и создание нового столбца, содержание которого - это список по словам столбца keyword.
geo_new = pd.read_csv('keywords.csv')
geo_new['new_list'] = geo_new['keyword'].apply(lambda word:(word.split( )) )
geo_new.head()

         keyword     shows         new_list
0             вк  64292779             [вк]
1  одноклассники  63810309  [одноклассники]
2          порно  41747114          [порно]
3           ютуб  39995567           [ютуб]
4      вконтакте  21014195      [вконтакте]

In [398]:
#Функция проверки наличия названия города в датафрейме и привязка к региону (в случае обнаружения), согласно geo_data.
def check_founder(parametr):#Внешняя функция проверяет внутреннюю функцию на пустые и непустые значения
    def region_founder(parametr):#внутренняя функция ищет совпадение по городу в столбце new_list
        for words in parametr:
            for key,value in geo_data.items():
                if words in value:
                    return key   #возвращает регион, если город найден    
    region_founder(parametr)
    if region_founder(parametr) is None: #если город не найден
        return ('undefined')
    else:
        return (region_founder(parametr)) 
check_founder(parametr)

'undefined'

In [396]:
#создание итогового столбца region с преминением функции.
geo_new['region'] = geo_new['new_list'].apply(check_founder)
geo_new.head()

         keyword     shows         new_list     region
0             вк  64292779             [вк]  undefined
1  одноклассники  63810309  [одноклассники]  undefined
2          порно  41747114          [порно]  undefined
3           ютуб  39995567           [ютуб]  undefined
4      вконтакте  21014195      [вконтакте]  undefined